# MS SQL Server Environment Configuration

# SA Password (Must meet MS SQL password policy: min 8 chars, uppercase, lowercase, numbers, special symbols)
MSSQL_SA_PASSWORD=YourStrongPassword123!

# Host Port
MSSQL_PORT=1433

# Initial Database Name
MSSQL_DATABASE=<Your_Database>
